.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(64, 64, 64, 0.3);
    height: 7vh;

    &-buttons {
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 10%;
        
        &-run {
            border: none;
            background-color: white;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            font-family: "quicksand";
            font-size: 2vmin;
            font-weight: bold;
            padding: 8px 20px;
        }

        &-choose {
            border: none;
            background: transparent;
            font-family: "quicksand";
            font-size: 3vmin;
            padding: 8px 20px;
            color: white;
        }

        &-option {
            color: black !important;
        }

        &-choose:hover {
            cursor: pointer;
        }
    }

    &-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: "quicksand";
        font-size: 4vmin;
        font-weight: bold;
        letter-spacing: 2px;

        &-img {
            height: 50px;
            width: 100px;
        }

        &-app-name {
            height: 70px;
            width: 100px;
        }
    }

    &-music-player {
        display: flex;
        // margin: auto;
        width: 10%;
        margin-top: 6px;
    }
}

.area {
    height: 65vh;
}

.i-o {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 28.5vh;
    margin-top: 1%;

    &-input {
        width: 50%;

        &-head {
            background-color: rgba(158, 57, 57, 0.1);
            // background-color: rgba(5, 5, 5, 0.7);
            height: 5vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        &-head p {
            margin-left: 3%;
            color: white;
            font-family: "quicksand";
            font-size: 30px;
        }
    }

    &-output {
        width: 50%;

        &-head {
            background-color: rgba(158, 57, 57, 0.1);
            // background-color: rgba(5, 5, 5, 0.7);
            height: 5vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        &-head p {
            margin-left: 3%;
            color: white;
            font-family: "quicksand";
            font-size: 30px;
        }
    }
}

.textarea {
    resize: none;
    background-color: rgba(158, 57, 57, 0.3);
    color: white;
    font-size: 2vmin;
    font-family: monospace;
    width: 97%;
}

.textarea::placeholder {
    font-family: "quicksand";
    font-size: 2vmin;
    color: white;
}

.draggable-player {
    z-index: 9999;
    width: 100vw;
}